<div class="flex-container">
    <div class="grower wide-container">
        
    </div>
    <div class="canvas-container">
        <canvas id="learning-canvas" height="1280" width="1280"></canvas>
    </div>
</div>
<div class="flex-container">
    <div class="grower">
        <button onClick="runIde()">Reset and Run</button>
    </div>
    <div class="wide-container">
        <div id="container"></div>
    </div>
</div>