<div class="main-container">
    <div class="flex-container">
        <div class="grower wide-container">
            <iframe width="720" height="480" src="https://www.youtube.com/embed/_vGyYQgFslQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="canvas-container">
        </div>
    </div>
    <iframe id="ide-frame" src="/frame"></iframe>
</div>
