<div class="main-container">
    <div class="wide-container">
        <iframe id="youtube-frame" width="720" height="480" src="https://www.youtube.com/embed/_vGyYQgFslQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <iframe id="ide-frame" src="/frame"></iframe>
</div>