<div class="teacher">
    <div class="editor">
        <div id="container"></div>
    </div>
    <div class="teacher-canvas">
        <canvas id="learning-canvas" height="1280" width="1280"></canvas>
        <button class="ide-button start-ide" onClick="runIde()"></button>
        <!--button class="ide-button stop-ide" onClick="stopIde()"></button-->
    </div>
    
</div>
<script src="/public/js/app.bundle.js"></script>