html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.teacher {
    display: flex;
    width: 100%;
    height: 100%;
}

.teacher .editor {
    width: 1400px;
    height: 100%;
    padding: 20px;
}

.teacher .editor #container {
    height: 100%;
}

.teacher .teacher-canvas {
    display: block;
    padding: 20px;
    padding-left: 0;
    width: 520px;
}

.teacher .teacher-canvas canvas {
    width: 100%;
}

.ide-button {
    width: 64px;
    height: 64px;
    border: 0;
    cursor: pointer;
}

.start-ide {
    background: url("/public/img/run-code.svg");
    background-position: 50%;
    background-size: 100%;
}

.stop-ide {
    background: url("/public/img/stop-code.svg");
    background-position: 50%;
    background-size: 100%;
}